{% extends 'base.html' %}

{% load static %}
{% block content %}
<section>
  <div class="products">
    <div class="cart">
        <div class="container-img">
          <img class="img-product"  src="{% static 'img/Teclados/keyboard-1.png' %}" alt="">
          <img class="img-product2" src="{% static 'img/Teclados/keyboard-1.1.png' %}" alt="">
        </div>
        <h3 class="title">Teclado Gamer Gear</h3>
        <p>$<span> 42</span></p><br>
        <a class="btn-cart" href="#" data-id=1>Agregar al carro</a>
    </div>
    <div class="cart">
        <div class="container-img">
          <img class="img-product" src="{% static 'img/Teclados/keyboard-2.png' %}" alt="">
        </div>
        <h3 class="title">Kolke Delta KET1203 (KET-1203)</h3>
        <p>$<span> 66</span></p><br>
        <a class="btn-cart" href="#" data-id=2>Agregar al carro</a>
    </div>
    <div class="cart">
        <div class="container-img">
          <img class="img-product" src="{% static 'img/Teclados/keyboard-3.jpg' %}" alt="">
        </div>
      <h3 class="title">Teclado Genius</h3>
      <p>$<span> 76</span></p><br>
      <a class="btn-cart" href="#" data-id=3>Agregar al carro</a>
    </div>
    <div class="cart">
        <div class="container-img">
          <img class="img-product" src="{% static 'img/Teclados/keyboard-4.png' %}" alt="">
        </div>
      <h3 class="title">Teclado Gamer Redragon</h3>
      <p>$<span> 82</span></p><br>
      <a class="btn-cart" href="#" data-id=4>Agregar al carro</a>
    </div>
    <div class="cart">
        <div class="container-img">
          <img class="img-product" src="{% static 'img/Teclados/keyboard-5.png' %}" alt="">
        </div>
      <h3 class="title">Philips K234 Wired Keyboard</h3>
      <p>$<span> 82</span></p><br>
      <a class="btn-cart" href="#" data-id=5>Agregar al carro</a>
    </div>
    <div class="cart">
        <div class="container-img">
          <img class="img-product" src="{% static 'img/Teclados/keyboard-6.jpg' %}" alt="">
        </div>
      <h3 class="title">Njoytech KB101L</h3>
      <p>$<span> 82</span></p><br>
      <a class="btn-cart" href="#" data-id=6>Agregar al carro</a>
    </div>
    <div class="cart">
        <div class="container-img">
          <img class="img-product" src="{% static 'img/Teclados/Keyboard-7.jpg' %}" alt="">
        </div>
      <h3 class="title">Ultra K100U (UT0-K100U)</h3>
      <p>$<span> 82</span></p><br>
      <a class="btn-cart" href="#" data-id=7>Agregar al carro</a>
    </div>
    <div class="cart">
        <div class="container-img">
          <img class="img-product" src="{% static 'img/Teclados/keyboard-8.jpg' %}" alt="">
        </div>
        <h3 class="title">Genius Scorpion K220</h3>
        <p>$<span> 82</span></p><br>
        <a class="btn-cart" href="#" data-id=8>Agregar al carro</a>
    </div>
    <div class="cart">
      <div class="container-img">
        <img class="img-product" src="{% static 'img/Teclados/keyboard-9.jpg' %}" alt="">
      </div>
      <h3 class="title">Philips Wired Keyboard</h3>
      <p>$<span> 82</span></p><br>
      <a class="btn-cart" href="#" data-id=9>Agregar al carro</a>
    </div>
    <div class="cart">
      <div class="container-img">
        <img class="img-product" src="{% static 'img/Teclados/keyboard-10.jpg' %}" alt="">
      </div>
      <h3 class="title">Genius Scorpion K8</h3>
      <p>$<span> 82</span></p><br>
      <a class="btn-cart" href="#" data-id=10>Agregar al carro</a>
    </div>
    <div class="cart">
      <div class="container-img">
        <img class="img-product" src="{% static 'img/Teclados/keyboard-11.png' %}" alt="">
      </div>
      <h3 class="title">Teclado Gamer Redragon sharpnel</h3>
      <p>$<span> 82</span></p><br>
      <a class="btn-cart" href="#" data-id=11>Agregar al carro</a>
    </div>
  </div>
</section> 
{% endblock %}