{% extends 'base.html' %}

{% load static %}
{% block content %}
<section>
    <div class="products">
      <div class="cart">
        <div class="container-img">
          <img class="img-product" src="{% static 'img/Mouse/mouse-agiler2100.png' %}" alt="">
        </div>
        <h3 class="title">Mouse Aguiler 2100</h3>
        <p>$<span> 21</span></p><br>
        <a class="btn-cart" href="#" data-id=12>Agregar al carrito</a>
      </div>
      <div class="cart">
        <div class="container-img">
          <img class="img-product" src="{% static 'img/Mouse/mouse-gear3120.jpg' %}" alt="">
        </div>
        <h3 class="title">Mouse Gear Hourglass</h3>
        <p>$<span> 22.1</span></p><br>
        <a class="btn-cart" href="#" data-id=13>Agregar al carrito</a>
      </div>
      <div class="cart">
        <div class="container-img">
          <img class="img-product" src="{% static 'img/Mouse/mouse-GloriousMinus.jpeg' %}" alt="">
        </div>
        <h3 class="title">Mouse Glorious Minus</h3>
        <p>$<span> 14.3</span></p><br>
        <a class="btn-cart" href="#" data-id=14>Agregar al carrito</a>
      </div>
      <div class="cart">
        <div class="container-img">
          <img class="img-product" src="{% static 'img/Mouse/mouse-lehmox1600dpi.jpg' %}" alt="">
        </div>
        <h3 class="title">Mouse Lehmox 1600 dpi</h3>
        <p>$<span> 18.12</span></p><br>
        <a class="btn-cart" href="#" data-id=15>Agregar al carrito</a>
      </div>
      <div class="cart">
        <div class="container-img">
          <img class="img-product" src="{% static 'img/Mouse/mouse-lehmox6400.jpg' %}" alt="">
        </div>
        <h3 class="title">Mouse Lehmox 6400</h3>
        <p>$<span> 16.32</span></p><br>
        <a class="btn-cart" href="#" data-id=16>Agregar al carrito</a>
      </div>
      <div class="cart">
        <div class="container-img">
          <img class="img-product" src="{% static 'img/Mouse/mouse-lehmoxGTM3.png' %}" alt="">
        </div>
        <h3 class="title">Mouse Lehmox GTM3</h3>
        <p>$<span> 15.3</span></p><br>
        <a class="btn-cart" href="#" data-id=17>Agregar al carrito</a>
      </div>
      <div class="cart">
        <div class="container-img">
          <img class="img-product" src="{% static 'img/Mouse/mouse-MarvoM115.jpeg' %}" alt="">
        </div>
        <h3 class="title">Mouse Marvo M115</h3>
        <p>$<span> 21.3</span></p><br>
        <a class="btn-cart" href="#" data-id=18>Agregar al carrito</a>
      </div>
      <div class="cart">
        <div class="container-img">
          <img class="img-product" src="{% static 'img/Mouse/mouse-MarvoM209.jpg' %}" alt="">
        </div>
        <h3 class="title">Mouse Marvo M209</h3>
        <p>$<span> 21.3</span></p><br>
        <a class="btn-cart" href="#" data-id=19>Agregar al carrito</a>
      </div>
    </div>
</section> 
{% endblock %}