{% load static %}

{% block content %}

    <footer>
        <div class="container-footer">
            <div class="container-lista">
                <ul class="listas">
                    <li><a href="">Política de garantia</a></li>
                    <li><a href="">Política de ordenes</a></li>
                    <li><a href="">Formas de pago</a></li>
                    <li><a href="">Sucursales y horarios</a></li>
                </ul>
            </div>
            <div class="container-lista">
                <ul class="listas">
                    <li><a href="">Mapa del sitio</a></li>
                    <li><a href="">Facebook</a></i>
                </ul>
            </div>
            <div class="container-lista">
                <ul class="listas">
                    <li><a href="">Marcas</a></li>
                    <li><a href="">Boleta electronica</a></li>
                </ul>
            </div>
            <div class="container-lista">
                <ul class="listas">
                    <li><a href="">Mi cuenta</a></li>
                    <li><a href="">Historial de pedidos</a></li>
                </ul>
            </div>
            <span class="footer-nombre">David González ©2024</span>
        </div>
    </footer>

{% endblock %}